Repository ipfs/kubo, pull requests merged in 2021-03, with the labels that each got.

#7930 feat(gw): /ipfs/ipfs/{cid} → /ipfs/{cid}
  core/corehttp/gateway_handler.go
  test/sharness/t0110-gateway.sh
Labels: topic/gateway

#8002 Rename migrations from ipfs-x-to-y to fs-repo-x-to-y
  repo/fsrepo/migrations/fetch.go
  repo/fsrepo/migrations/fetcher.go
  repo/fsrepo/migrations/migrations.go
  repo/fsrepo/migrations/migrations_test.go
Labels: status/blocked

#7883 Do not fetch recursive pins from pinner unnecessarily
  core/coreapi/pin.go
Labels: P4

#7994 chore: deprecate Gateway.PathPrefixes
  cmd/ipfs/daemon.go
  core/corehttp/gateway_handler.go
  docs/config.md
Labels: topic/gateway

#8010 docs: cosmetic fixes of help text
  README.md
  core/commands/add.go
  core/commands/config.go
  core/commands/dag/dag.go
  core/commands/files.go
  core/commands/id.go
  core/commands/keystore.go
  core/commands/name/ipnsps.go
  core/commands/object/diff.go
  core/commands/object/object.go
  core/commands/object/patch.go
  core/commands/p2p.go
  core/commands/pin/pin.go
  core/commands/root.go
  core/commands/shutdown.go
  core/commands/stat.go
  core/commands/stat_dht.go
  core/commands/tar.go
  core/commands/version.go
Labels: topic/docs

#7890 fix(gw): remove use of Clear-Site-Data in subdomain router
  core/corehttp/hostname.go
  docs/config.md
  test/sharness/t0114-gateway-subdomains.sh
Labels: need/review, topic/gateway
