Repository ipfs/kubo, pull requests merged in 2022-04, with the labels that each got.

#8595 feat: add basic gateway tracing
  cmd/ipfs/main.go
  core/coreapi/block.go
  core/coreapi/dag.go
  core/coreapi/dht.go
  core/coreapi/key.go
  core/coreapi/name.go
  core/coreapi/object.go
  core/coreapi/path.go
  core/coreapi/pin.go
  core/coreapi/provider.go
  core/coreapi/pubsub.go
  core/coreapi/swarm.go
  core/coreapi/unixfs.go
  core/corehttp/gateway.go
  core/corehttp/gateway_handler.go
  core/corehttp/gateway_handler_block.go
  core/corehttp/gateway_handler_car.go
  core/corehttp/gateway_handler_unixfs.go
  core/corehttp/gateway_handler_unixfs_dir.go
  core/corehttp/gateway_handler_unixfs_file.go
  core/coreunix/add.go
  docs/debug-guide.md
  docs/environment-variables.md
  go.mod
  go.sum
  mk/golang.mk
  plugin/loader/loader.go
  test/sharness/t0310-tracing.sh
  tracing/doc.go
  tracing/tracing.go
Labels: kind/feature

#8827 fix: report gateway http metrics only when response is successful
  core/corehttp/gateway_handler.go
  core/corehttp/gateway_handler_block.go
  core/corehttp/gateway_handler_unixfs_dir.go
  core/corehttp/gateway_handler_unixfs_file.go
Labels: topic/gateway

#8806 fix(gw): missing return if dir fails to finalize
  core/corehttp/gateway_handler.go
Labels: topic/gateway

#6577 feat(docker): /container-init.d for advanced initialization
  Dockerfile
  bin/container_daemon
  bin/container_init_run
  test/ipfs-test-lib.sh
  test/sharness/t0300-docker-image.sh
  test/sharness/t0301-docker-migrate.sh
Labels: help wanted, need_tests
